<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <h2 class="text-center mb-4 text-theme-primary">New Categories</h2>
      <p class="text-center mb-5">You can add new categories from here.</p>
      <form
        class="d-flex"
        #categoryForm="ngForm"
        (ngSubmit)="onSubmit(categoryForm)"
      >
        <div class="col-md-8 mb-2 add-newField">
          <input
            type="text"
            name="category"
            class="form-control shadow-effect"
            placeholder="Add new category"
            #newCategory="ngModel"
            ngModel
            required
            [ngClass]="{
              'is-invalid': newCategory.touched && newCategory.invalid
            }"
          />

          <div
            class="alert alert-danger"
            *ngIf="newCategory.touched && newCategory.invalid"
          >
            Categories field is required
          </div>
        </div>
        <div class="col-md-4">
          <button
            class="btn btn-block btn-info mt-1 btn-theme"
            [disabled]="categoryForm.invalid"
          >
            Add Category
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- 4. -->
  <div class="row mt-5 mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <!-- 7. -->
              <tr *ngFor="let category of categoryArray; let i = index">
                <td>{{i+1}}</td>
                <td>{{category.data.category}}</td>
              </tr>
              <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
